@import url(../Fonts/Code\ New\ Roman.otf);

@font-face {
  font-family: 'Code New Roman';
  font-style: normal;
  font-weight: lighter;
  src: local('Code New Roman'),
    url('../Fonts/Code\ New\ Roman.otf')
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'Fira Sans', 'Arial', sans-serif;
  background: linear-gradient(rgb(104, 104, 243), pink);
}

.header {
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, .5);
  min-height: 100vh;
  display: flex;
  position: relative;
  background-image: url(../Images/JDStsRdEsBM.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header_title {
  position: absolute;
  font-size: 140px;
  line-height: 94px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: white 0 0 10px;
  left: 100px;
  top: 200px;
  max-width: 40%;
}

.header_subtitle {
  position: absolute;
  bottom: 50px;
  left: 100px;
  margin-bottom: 50px;
  color: white;
  text-shadow: white 0 0 10px;
  font-weight: normal;
  line-height: 34px;
  font-size: 34px;
  max-width: 40%;
}

.header_link {
  text-decoration: none;
  color: white;
}

.header_img {
  object-fit: scale-down;
  object-position: center;
  max-width: 577px;
  max-height: 577px;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.9);
}

.header_img_box {
  position: absolute;
  top: 130px;
  right: 100px;
  max-width: 577px;
}

.header_img_subtitle {
  color: white;
  text-shadow: white 0 0 10px;
  font-weight: normal;
  line-height: 34px;
  font-size: 34px;
  text-align: center;
  margin-top: 25px;
}

.overlay {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.card_section {
  min-width: 912px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.card {
  font-family: 'Code New Roman';
  width: 400px;
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.9);
  padding: 20px auto;
  border-radius: 15px;
}

.card_title {
  text-align: center;
  font-size: 30px;
  margin: 10px auto;
}

.card_content {
  min-height: 300px;
  margin: 40px 40px;
  min-width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card_content_aztec {
  background-image: url(../Images/qIjZL-TJIj8.jpg);
}

.card_content_matrix {
  background-image: url(../Images/2BibfZXkIBU.jpg);
}

.card_content_codablock {
  background-image: url(../Images/pO_e5n3_tfM.jpg);
}

.card_content_maxi {
  background-image: url(../Images/Y1DKC2R4nN4.jpg);
}

.card_content_pdf417 {
  background-image: url(../Images/_8z04gAfkKc.jpg);
}

.card_content_callme {
  background-image: url(../Images/O2cps683iO8.jpg);
}

.card_content_microsoft {
  background-image: url(../Images/9E3-EGDoiKo.jpg);
}

.card_content_ccc {
  background-image: url(../Images/-crIRB2IDhQ.jpg);
}

.history_section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.history_content {
  max-width: 25%;
  min-width: 300px;
  min-height: 300px;
  font-family: 'Code New Roman';
  background-color: white;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .7);
  padding: 20px 20px;
}

.history_content_woodland {
  position: absolute;
  top: 90px;
  left: 300px
}

.history_content_silver {
  position: absolute;
  top: 70px;
  right: 270px;
}

.history_title {
  text-align: center;
  font-size: 30px;
}

.history_text {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}

.history_images {
  margin-top: 20px;
  min-height: 300px;
  min-width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.history_woodland {
  background-image: url(../Images/LJD-8xAvHZo.jpg);
}

.history_silver {
  background-image: url(../Images/kmX1Kz1E_Bk.jpg);
}

.history_yohanson {
  background-image: url(../Images/лорер-300x292.png);
}

.shadow-5 {
  background-color: rgba(0, 0, 0, .4);
}

.podval {
  min-height: 300px;
  width: 100vh;
}

.footer_text {
  font-family: 'Code New Roman';
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 60px;
}

.footer_text_greetings {
  font-family: 'Code New Roman';
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 27px;
}

.border {
  border: 2px solid red;
}

.footer {
  width: 100%;
  background-color: #181818;
  box-shadow: 0px -7px 15px 2px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}