@import url(../Fonts/Code\ New\ Roman.otf);
@font-face {
  font-family: 'Code New Roman';
  font-style: normal;
  font-weight: lighter;
  src: local('Code New Roman'),
  url('../Fonts/Code\ New\ Roman.otf')
}

.page {
  font-family: 'Fira Sans', 'Arial', sans-serif;
  background-image: url(../Images/Untitled-2.jpg);
}

.header {
  height: 956px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, .5);
}

.header-title {
  margin: auto;
  font-size: 140px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.overlay {
  display: flex;
  width: 100%;
  height: 100%;
}

.card-section {
  height: 900px;
  min-width: 912px;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.qr-section {
  height: 450px;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: space-around;
}

.qr-text {
  margin: 0 auto;
  height: 200px;
  width: 600px;
}

.card {
  font-family: 'Code New Roman';
  width: 400px;
  height: 450px;
  background-color: white;
  margin-top: 225px;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.9);
  padding: 20px auto;
}

.card-title {
  text-align: center;
  font-size: 30px;
}

.card-text {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.card-content {
  margin: 20px auto;
  height: 200px;
  width: 300px;
}

.card-content_tasty {
  background-image: url(https://vibirai.ru/image/1123052.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-content_disgusting {
  background-image: url(https://gallery.forum-grad.ru/files/4/6/3/5/8/more-utterly-disgusting-foods-8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-content_jopa {
  background-image: url(https://xcraft.ru/uploads/forum/images/1481297569655.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.check {
  font-size: 40px;
  text-align: center;
}

.podval {
  height: 250px;
  width: 100%;
  margin-top: 100px;
}

.podval-text {
  font-family: 'Code New Roman';
  font-size: 50px;
  color: white;
  text-align: center;
}

.podval-text_greetings {
  font-family: 'Code New Roman';
  font-size: 30px;
  color: white;
  text-align: center;
}

.footer {
  height: 400px;
  width: 100%;
  background-color: #181818;
  box-shadow: 0px -7px 15px 2px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: space-around;
}