@import url(../Fonts/Code\ New\ Roman.otf);
@font-face {
  font-family: 'Code New Roman';
  font-style: normal;
  font-weight: lighter;
  src: local('Code New Roman'),
  url('../Fonts/Code\ New\ Roman.otf')
}

.page {
  font-family: 'Fira Sans', 'Arial', sans-serif;
  background-image: url(../Images/Untitled-2.jpg);
}

.header {
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, .5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  margin: auto;
  font-size: 140px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.card-section {
  min-width: 912px;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.card {
  font-family: 'Code New Roman';
  width: 400px;
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.9);
  padding: 20px auto;
}

.card:nth-of-type(3n) {
  margin-right: 0;
}

.card-title {
  text-align: center;
  font-size: 30px;
}

.card-text {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.card-content {
  height: 300px;
  margin: 20px auto;
  width: 300px;
}

.card-content_aztec {
  background-image: url(../Images/qIjZL-TJIj8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-content_matrix {
  background-image: url(../Images/2BibfZXkIBU.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-content_codablock {
  background-image: url(../Images/pO_e5n3_tfM.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-content_maxi {
  background-image: url(../Images/Y1DKC2R4nN4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-content_pdf417 {
  background-image: url(../Images/_8z04gAfkKc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-content_callme {
  background-image: url(../Images/O2cps683iO8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.podval {
  width: 100%;
  margin-top: 100px;
}

.podval-text {
  font-family: 'Code New Roman';
  font-size: 50px;
  color: white;
  text-align: center;
}

.podval-text_greetings {
  font-family: 'Code New Roman';
  font-size: 30px;
  color: white;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #181818;
  box-shadow: 0px -7px 15px 2px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: space-around;
}